{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dignissimos doloremque blanditiis corrupti eum molestias hic, vel minus, dolores laboriosam quae libero voluptatum asperiores corporis illo rem voluptatem sed, repudiandae necessitatibus sit sunt neque. Voluptatibus voluptatum ipsum dolorum labore provident eius delectus repellendus repellat placeat nostrum nihil tempora culpa libero saepe voluptas necessitatibus incidunt reiciendis doloribus, neque ut consequatur non repudiandae. Cupiditate reprehenderit doloremque, culpa minus molestias a, libero veritatis ea id magni animi, quidem nostrum veniam sequi? Dolores necessitatibus doloremque optio ut! Nihil, magnam ipsam officia autem eaque recusandae quas commodi soluta, voluptates ullam eos error incidunt provident consequatur!</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Login
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup 
            </a>
        </div>
    </section>
</main>

{% endblock %}

